<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_EmailTemplateFallback>
            <version>0.1.0</version>
        </Aligent_EmailTemplateFallback>
    </modules>
    <global>
        <models>
            <aligent_emailtemplatefallback>
                <class>Aligent_EmailTemplateFallback_Model</class>
                <resourceModel>aligent_emailtemplatefallback_resource</resourceModel>
            </aligent_emailtemplatefallback>
            <aligent_emailtemplatefallback_resource>
                <class>Aligent_EmailTemplateFallback_Model_Resource</class>
            </aligent_emailtemplatefallback_resource>
            <core>
                <rewrite>
                    <translate>Aligent_EmailTemplateFallback_Model_Core_Translate</translate>
                    <email_template_mailer>Aligent_EmailTemplateFallback_Model_Core_Email_Template_Mailer</email_template_mailer>
                </rewrite>
            </core>
        </models>
        <blocks>
            <aligent_emailtemplatefallback>
                <class>Aligent_EmailTemplateFallback_Block</class>
            </aligent_emailtemplatefallback>
            <adminhtml>
                <rewrite>
                    <system_email_template_edit>Aligent_EmailTemplateFallback_Block_Adminhtml_System_Email_Template_Edit</system_email_template_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <aligent_emailtemplatefallback>
                <class>Aligent_EmailTemplateFallback_Helper</class>
            </aligent_emailtemplatefallback>
        </helpers>
        <resources>
            <aligent_emailtemplatefallback_setup>
                <setup>
                    <module>Aligent_EmailTemplateFallback</module>
                </setup>
            </aligent_emailtemplatefallback_setup>
        </resources>
    </global>
</config>